/*Start Global*/

* {
	-webkit-box-sizing: border-box;
	-Moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	/*outline: 1px solid red;*/
}

.container {
	width: 1200px;
	margin: auto;
	padding: 0 1%
}

ul {
	list-style: none;
	padding: 0;
	margin: 0
}

/*End Global*/

/*Start Navbar*/

.navbar {
	position: relative;
	z-index: 2;
	color: #FFF;
	height: 0
}

.navbar .brand {
	float: left;
	width: 56%;
	text-transform: uppercase;
	padding-top: 15px
}

.navbar .brand h1 {
	font-weight: normal
}

.navbar .links {
	float: left;
	width: 44%;
	margin-top: 20px;
	padding-top: 15px
}

.navbar .links li {
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 0;
	margin: 0 15px;
	cursor: pointer;
	font-size: 14px;
	border-bottom: 2px solid transparent;
}

.navbar .links li a {
	text-decoration: none;
	color: #FFF
}

.navbar .links li.active,
.navbar .links li:hover {
	border-bottom: 2px solid #1abc9c;
	color: #1abc9c;
}

.navbar .links li.active a,
.navbar .links li:hover a {
	color: #1abc9c;
}

/*End Navbar*/

/*Start Header*/

.header {
	background-image: url('../images/header.jpg');
	position: relative
}

.header .overlay {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	color: #FFF
}

.header .bx-wrapper {
	height: 100%;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0
}

.header .bx-wrapper .bx-viewport {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	background: none;
	height: 100% !important;
	text-align: center
}


.header .bxslider {
	height: 100%
}

.header .bxslider li {
	display: block
}

.header .bxslider li h2 {
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 0;
	font-weight: lighter;
	margin-bottom: 50px
}

.header .bxslider li h2 span {
	color: #1abc9c
}

.header .bxslider li p {
	font-size: 14px;
	padding: 0 38%;
}

.header button {
	position: absolute;
	bottom: 50px;
	display: block;
	margin: auto;
	left: 45%;
	background: none;
	padding: 10px 15px;
	color: #FFF;
	border: 1.5px solid #FFF;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 14px
}

.header button:hover {
	background-color: #1abc9c;
	color: #FFF;
	border: 1.5px solid #1abc9c;
	border-radius: 3px
}

/*End Header*/

/*Start About*/

.about {
	padding: 60px 0;
}

.about h2 {
	margin: 0 0 60px;
	color: #333;
	font-weight: normal
}

.about .item {
	float: left;
	width: 33.3333%;
	margin-bottom: 50px
}

.about .item:nth-of-type(4),
.about .item:nth-of-type(5),
.about .item:nth-of-type(6) {
	margin-bottom: 0
}

.about .item i {
	color: #1abc9c;
	float: left;
	width: 12%;
	margin-right: 8%
}

.about .item .info {
	float: left;
	width: 80%
}

.about .item .info h3 {
	color: #302c2c;
	margin: 10px 0 20px
}

.about .item .info p {
	padding-right: 15%;
	margin: 0;
	color: #888;
	font-size: 14px
}

/*End About*/

/*Start our Team*/

.our-team {
	padding: 60px 0
}

.our-team .box {
	float: left;
	width: 32%
}

.our-team .box h2 {
	font-weight: normal;
	margin: 0 0 30px;
	color: #333;
	position: relative
}

.our-team .box h2:after {
	content: "";
	position: absolute;
	top: 30px;
	left: 0;
	display: block;
	border-bottom: 2px solid #333;
	width: 10%
}

.our-team .box p {
	margin: 0;
	line-height: 1.7;
	padding-right: 6%;
	font-size: 14px;
	color: #888;
}

.our-team .box:not(:first-child) {
	float: left;
	width: 15%;
	margin-left: 2%;
	position: relative
}

.our-team .box:not(:first-child) .overlay {
	position: absolute;
	width: 100%;
	height: 98%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(26, 188, 156, 0.7);
	line-height: 98%;
	text-align: center;
	line-height: 174px;
	display: none;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.our-team .box:not(:first-child):hover .overlay {
	display: block;
	cursor: pointer;
}

.our-team .box:not(:first-child) .overlay span {
	color: #FFF;
	font-size: 16px;
	position: relative
}

.our-team .box:not(:first-child) .overlay span:after {
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	width: 24%;
	display: block;
	border: 0.5px solid #FFF;

}

.our-team .box:not(:first-child) img {
	width: 100%;
}

/*End Our Team*/

/*Start our Client*/

.our-client {
	background-image: url('../images/client.jpg');
	min-height: 350px;
	background-size: cover;
	position: relative;
}

.our-client .overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6)
}

.our-client h2 {
	color: #FFF;
	font-weight: normal;
	width: 17%;
	position: relative;
	margin: 5% auto 3%
}

.our-client h2:after {
	content: "";
	position: absolute;
	top: 30px;
	left: 0;
	display: block;
	border-bottom: 2px solid #FFF;
	width: 16%;
}

.our-client q {
	width: 50%;
	margin: 0 auto 2%;
	color: #888a90;
	display: block;
	text-align: center;
	font-size: 18px;
	line-height: 2;
}

.our-client p {
	text-align: center;
	margin: 0 0 5%;
	color: #1abc9c;
	font-size: 18px
}

.our-client .slider > div {
	display: none
}

.our-client .slider .active {
	display: block
}

/*End our Client*/

/*Start Our Projects*/

.our-projects {
	padding: 60px 0
}

.our-projects h2 {
	color: #333;
	font-weight: normal;
	margin: 0 0 40px
}

.our-projects ul li {
	padding: 10px 20px;
	margin-right: 15px;
	border: 1px solid #c4c4c4;
	color: #9c9c9c;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer
}

.our-projects ul li.selected {
	background-color: #1abc9c;
	border: 1px solid #1abc9c;
	color: #FFF
}

.our-projects .gallery {
	margin-top: 60px;
	overflow: hidden;
	min-height: 480px
}


.our-projects .gallery .row > div {
	width: 32%;
	float: left;
	margin-bottom: 2%;
	position: relative;
	height: 216px;

}

.our-projects .gallery .row > div:nth-last-child(2) {
	margin: 0 2%
}

.gallery .row > div .over {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(26, 188, 156, 0.7);
	text-align: center;
	display: none
}

.gallery .row > div .over span {
	line-height: 216px;
	color: #FFF;
	border: 1px solid #FFF;
	padding: 10px 15px
}

.gallery .row > div > span {
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #FFF;
	display: none
}

.gallery .row > div:hover .over,
.gallery .row > div:hover > span {
	display: block;
	cursor: pointer
}


.our-projects .gallery .row > div img {
	width: 100%
}

.our-projects .mix {
	display: none
}

/*End Our Projects*/

/*Start Footer*/

.footer {
	padding: 60px 0 30px;
	background-color: #232323;
	overflow: hidden;
	color: #8a8a8a
}

.footer .col {
	float: left;
	width: 25%
}

.footer .col h3 {
	color: #EEE;
	margin: 0 0 30px
}

.footer .col p {
	font-size: 13px;
	padding-right: 25%;
	font-weight: bold;
	line-height: 1.6
}

.footer .col .social {
	margin: 30px 0 0
}

.footer .col .social i {
	border: 1px solid #8a8a8a;
	padding: 5px;
	width: 30px;
	display: inline-block
}

.footer .col .social i:nth-child(2) {
	margin: 0 10px
}

.footer .tags span {
	border: 1px solid #8a8a8a;
	padding: 10px 15px;
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 10px;
	color: #DDD
}

.footer .recent {
	overflow: hidden
}

.footer .recent div {margin-bottom: 25px}

.footer .recent img {
	float: left;
	margin-right: 15px;
}

.footer .recent h4 {
	margin: 8px 0;
	color: #DDD;
	font-size: 14px;
}

.footer .recent span {color: #CCC;font-size: 12px;font-weight: bold}


.footer .blog ul li {
	
	border-bottom: 1px solid #8a8a8a;
	padding-bottom: 15px;
	margin-bottom: 15px;
	color: #CCC
}


.footer .copy {
	margin: 10px 0 0
}

/*End Footer*/

/*Start My Framework*/

.clear-fix {
	clear: both
}

.special-heading {
	position: relative
}

.special-heading:after {
	content: "";
	position: absolute;
	top: 30px;
	left: 0;
	display: block;
	border-bottom: 2px solid #333;
	width: 3%
}

hr {
	border: 1px solid #EEE;
	margin: 0
}


/*End My Framework*/
